<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.upload.app.modular.system.dao.BlockCountMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xyz.upload.app.modular.system.model.BlockCount">
		<result column="height" property="height" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Base_Column_List">
		height
	</sql>

	<select id="findBlockCount" resultType="int">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		`block_count`
	</select>

	<update id="updateBlock">
		UPDATE block_count
		<trim prefix= "set" suffixOverrides= ",">
			<if test="height != null">
				height = #{height,jdbcType=INTEGER},
			</if>
		</trim>
		WHERE <![CDATA[ height < height + 1]]>
	</update>



</mapper>
