<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upload.app.modular.system.dao.AddressDriveLinkMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.upload.app.modular.system.model.AddressDriveLink">
		<result column="address" property="address" jdbcType="VARCHAR"/>
		<result column="drive_id" property="driveId" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		address, drive_id, status
	</sql>

	<select id="findByAddress" resultType="com.upload.app.modular.system.model.AddressDriveLink">
		select
		<include refid="Base_Column_List" />
		from `address_drive_link` where address = #{address} and status = 0
	</select>

    <select id="findDriveByAddress" resultType="com.upload.app.modular.system.model.AddressDriveLink">
        select
        <include refid="Base_Column_List" />
        from `address_drive_link` where address = #{address}
    </select>

	<select id="findByAddressAndDriveId" resultType="com.upload.app.modular.system.model.AddressDriveLink">
		select
		<include refid="Base_Column_List" />
		from `address_drive_link` where address = #{address} and drive_id = #{driveId}
	</select>

	<insert id="insert" parameterType="com.upload.app.modular.system.model.AddressDriveLink">
		insert into `address_drive_link`
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="driveId != null" >
				drive_id,
			</if>
			<if test="address != null" >
				`address`,
			</if>
			<if test="status != null" >
				`status`,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="driveId != null" >
				#{driveId,jdbcType=VARCHAR},
			</if>
			<if test="address != null" >
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="status != null" >
				#{status,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

</mapper>
