<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upload.app.modular.system.dao.FchXsvLinkMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.upload.app.modular.system.model.FchXsvLink">
		<result column="fch_address" property="fchAddress" />
		<result column="xsv_address" property="xsvAddress" />
		<result column="address_hash" property="addressHash" />
		<result column="type" property="type" />
	</resultMap>

	<sql id="Base_Column_List">
		fch_address, xsv_address, address_hash, `type`
	</sql>

	<select id="findByXsv" resultType="com.upload.app.modular.system.model.FchXsvLink">
		select
		<include refid="Base_Column_List" />
		from fch_xsv_link where xsv_address = #{xsvAddress}
	</select>

	<select id="findByFch" resultType="com.upload.app.modular.system.model.FchXsvLink">
		select
		<include refid="Base_Column_List" />
		from fch_xsv_link where fch_address = #{fchAddress}
	</select>

	<select id="findByType" resultType="com.upload.app.modular.system.model.FchXsvLink">
		select
		<include refid="Base_Column_List" />
		from fch_xsv_link where `type` = #{type}
	</select>

	<select id="findByHash" resultType="com.upload.app.modular.system.model.FchXsvLink">
		select
		<include refid="Base_Column_List" />
		from fch_xsv_link where address_hash = #{addressHash}
	</select>

	<insert id="insert" parameterType="com.upload.app.modular.system.model.FchXsvLink">
		insert into `fch_xsv_link`
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="fchAddress != null" >
				fch_address,
			</if>
			<if test="xsvAddress != null" >
				`xsv_address`,
			</if>
			<if test="addressHash != null" >
				`address_hash`,
			</if>
			<if test="type != null" >
				`type`,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="fchAddress != null" >
				#{fchAddress,jdbcType=VARCHAR},
			</if>
			<if test="xsvAddress != null" >
				#{xsvAddress,jdbcType=VARCHAR},
			</if>
			<if test="addressHash != null" >
				#{addressHash,jdbcType=VARCHAR},
			</if>
			<if test="type != null" >
				#{type,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

</mapper>
