<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upload.app.modular.system.dao.UpdateMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.upload.app.modular.system.model.Update">
		<id property="id" column="id" jdbcType="INTEGER"/>
		<result column="drive_id" property="driveId" jdbcType="VARCHAR"/>
		<result column="metadata" property="metadata" jdbcType="VARCHAR" />
		<result column="data" property="data" jdbcType="VARCHAR" />
		<result column="update_id" property="updateId" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="fee" property="fee" jdbcType="DECIMAL" />
		<result column="type" property="type" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		id, drive_id, `data`, metadata, create_date, update_id, create_date, fee, `type`
	</sql>

	<select id="findByDriveId" resultType="com.upload.app.modular.system.model.Update">
		select
		<include refid="Base_Column_List" />
		from `update` where drive_id = #{driveId} and update_id = #{updateId}
	</select>

	<select id="findByDriveIdLimt" resultType="com.upload.app.modular.system.model.Update">
		select
		<include refid="Base_Column_List" />
		from `update` where drive_id = #{driveId} order by create_date desc limit 1
	</select>

	<insert id="insert" parameterType="com.upload.app.modular.system.model.Update">
		insert into `update`
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="driveId != null" >
				drive_id,
			</if>
			<if test="data != null" >
				`data`,
			</if>
			<if test="metadata != null" >
				`metadata`,
			</if>
			<if test="updateId != null" >
				`update_id`,
			</if>
			<if test="createDate != null" >
				`create_date`,
			</if>
			<if test="fee != null" >
				`fee`,
			</if>
			<if test="type != null" >
				`type`,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="driveId != null" >
				#{driveId,jdbcType=VARCHAR},
			</if>
			<if test="data != null" >
				#{data,jdbcType=VARCHAR},
			</if>
			<if test="metadata != null" >
				#{metadata,jdbcType=VARCHAR},
			</if>
			<if test="updateId != null" >
				#{updateId,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null" >
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="fee != null" >
				#{fee,jdbcType=DECIMAL},
			</if>
			<if test="type != null" >
				#{type,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

</mapper>
